body {
	background-color: #000;
	font-family: Helvetica;
	overflow: hidden;
	margin: 0;
	position: relative;
	height: 80vh;
}

body::before {
	content: "";
	position: fixed;           /* absolute emas */
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background-image: repeating-linear-gradient(
		120deg,
		darkred,
		darkred,
		transparent 5px,
		transparent 90px
	);

	background-size: 100% 200%;
	background-position: 0 0;

	animation: rain 5.9s linear infinite;

	pointer-events: none;      /* interactionni buzmasin */
	z-index: -1;
}

@keyframes rain {
	from {
		background-position: 0 -100%;
	}
	to {
		background-position: 0 0;
	}
}

.div-center {
	text-align: center;
	margin-top: 60px;
}

.div-inline {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	border: 2px solid red;
	border-radius: 20px;
	padding: 20px 30px;
	box-shadow: 1px 1px 40px red;
	backdrop-filter: blur(4px);
}

@media(max-width: 375px) {
	.div-inline {
		border: none;
		box-shadow: none;
		backdrop-filter: blur(0.3px);
	}
	input {
		width: 340px;
		height: 50px;
		font-size: 19px;
	}

	button {
		height: 40px;
	}
}

.div-inline h1 {
	color: red;
}

img {
	border-radius: 50%;
	width: 250px;
	height: 200px;
}

p {
	color: blue;
}

input {
	width: 320px;
	height: 40px;
	background-color: #000;
	color: blue;
	border-radius: 8px;
	border: 1px solid red;
	font-size: 18px;
}

button {
	background-color: red;
	color: white;
	font-size: 19px;
	width: 320px;
	height: 38px;
	border-radius: 8px;
	border: none;
	transition: all 0.4s ease;
	cursor: pointer;
}

button:hover {
	background-color: darkred;
	transform: scale(1.05);
}